.Body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Title {
    font-size: 30px;
    font-weight: 520;
}

.Label {
    margin-bottom: 5px;
    width: 400px;
    font-size: 20px;

}

.AddMeetingB {
    margin-top: 15px;
    font-size: 15px;
    background-color: rgb(66, 80, 231);
    color: white;
    border-radius: 10px;
}

.AddMeetingB {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 14px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.AddMeetingB:hover {
    background-color: #218838;
}

.AddTripB {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 14px;
    background-color: #4250e7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.AddTripB:hover {
    background-color: #2e38b5;
}

.Information {
    font-style: italic;
    font-size: 14px;
}