.Body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.title {
    font-size: 28px;
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 20px;
}

.EditForm {
    width: 100%;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.EditMeeting {
    margin-top: 20px;
    width: 100%;
}

.MeetingForm {
    margin-bottom: 20px;
}

.InputText {
    margin-bottom: 15px;
    width: 100%;
}

.InputText p {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 16px;
}

.InputText input,
.InputText textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.InputText textarea {
    resize: vertical;
    min-height: 100px;
}

.updateButton {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4250e7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.updateButton:hover {
    background-color: #2e38b5;
}

.addMeetingButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.addMeetingButton:hover {
    background-color: #218838;
}
