.Body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.Information{
justify-content: start;
}
.text{
    font-size: 18px;
}
.Description{
    display: flex;
    width: 650px;
    align-items: center;
    justify-content: start;
    flex-direction: row;

}
.DescTitle{
    font-weight: 600;
    font-size: 18px;
}

.Departure{
    width: 650px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;

}
.DepaTitle{
    font-weight: 600;
    font-size: 18px;
}
.MeetingTitle{
    font-weight: 600;
    font-size: 18px;
    text-decoration: underline;
}
.MeetingTitle2{
    font-weight: 600;
    font-size: 16px;
}