.NavList {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.Links {
  display: flex;
  gap: 1rem;
}

.Links li {
  list-style: none;
}

.LogoutButton {
  background: none;
  border: none;
  color: var(--primary-color); 
  cursor: pointer;
  text-decoration: underline;
  font-size: 1em; 
  transition: color 0.3s ease; 
}

.LogoutButton:hover {
  color: #FF6347; 
}
