:root {
  --primary-color: #B9976B;
  --secondary-color: #f0f0f0;
  --text-color: #333;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--secondary-color);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 2em;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.inputBox {
  position: relative;
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
}

.inputBox input {
  width: 100%;
  padding: 10px;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  background-color: var(--secondary-color);
  outline: none;
  color: var(--text-color);
  font-size: 1em;
  transition: 0.3s;
}

.inputBox span {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 5px;
  font-size: 1em;
  color: var(--text-color);
  pointer-events: none;
  transition: 0.3s;
  background-color: var(--secondary-color);
}

.inputBox input:focus,
.inputBox input:not(:placeholder-shown) {
  border-color: var(--primary-color);
}

.inputBox input:focus + span,
.inputBox input:not(:placeholder-shown) + span {
  top: -10px;
  left: 10px;
  font-size: 0.8em;
  color: var(--primary-color);
}

.button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  transition: transform 0.2s ease;
}

.button:active {
  transform: scale(0.95);
}

.button.animate {
  position: relative;
  overflow: hidden;
}

.button.animate::before,
.button.animate::after {
  content: "";
  position: absolute;
  width: 300%;
  height: 300%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: radial-gradient(circle, rgba(255, 255, 255, 0.3), transparent);
  animation: bubbles 2s infinite ease-in-out;
  z-index: -1;
}

@keyframes bubbles {
  0%, 100% {
    transform: translate(-50%, -50%) rotate(45deg) scale(0);
  }
  50% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }
}

.registerLink {
  margin-top: 20px;
}

.registerLink p {
  display: inline;
  margin-right: 5px;
  color: var(--text-color);
}

.registerLink a {
  color: var(--primary-color);
  text-decoration: none;
}
