:root {
    --primary-color: #B9976B;
    --secondary-color: #f0f0f0;
    --text-color: #333;
  }
  
  .Body {
    display: flex;
    align-items: center;
    padding-top: 2cm;
    min-height: 100vh;
    flex-direction: column;
    gap: 30px;
    background-color: var(--secondary-color);
  }
  
  .Label {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .Title {
    font-size: 2em;
    margin-bottom: 20px;
    color: var(--primary-color);
  }
  
  .Label label {
    font-size: 1em;
    color: var(--text-color);
    margin-bottom: 5px;
  }
  
  .Label input {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-size: 1em;
    transition: border-color 0.3s;
  }
  
  .Label input:focus {
    border-color: var(--primary-color);
    outline: none;
  }
  
  .AddTripB {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    transition: transform 0.2s ease;
  }
  
  .AddTripB:active {
    transform: scale(0.95);
  }
  
  .AddTripB.animate {
    position: relative;
    overflow: hidden;
  }
  
  .AddTripB.animate::before,
  .AddTripB.animate::after {
    content: "";
    position: absolute;
    width: 300%;
    height: 300%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.3), transparent);
    animation: bubbles 2s infinite ease-in-out;
    z-index: -1;
  }
  
  @keyframes bubbles {
    0%, 100% {
      transform: translate(-50%, -50%) rotate(45deg) scale(0);
    }
    50% {
      transform: translate(-50%, -50%) rotate(45deg) scale(1);
    }
  }
  
  .RegisterLink {
    margin-top: 20px;
    font-size: 0.9em;
    color: var(--text-color);
  }
  
  .RegisterLink p {
    display: inline;
    margin-right: 5px;
  }
  
  .RegisterLink a {
    color: var(--primary-color);
    text-decoration: none;
  }
  